.incomes_expenses__background--color {
    background: linear-gradient(
        rgba(0, 140, 255, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(360deg, rgba(105, 66, 239, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
      #0e0e30;
      color: #008cff;
      width: 80%;
    }
  
      .income_expensesBtn, .MessageIncome {
        display: flex;
        justify-content: center;
      }
      
      .income_expensesBtn button {
        margin: 0 auto;
        background: linear-gradient(#0e0e30, #0e0e30) padding-box,
          linear-gradient(to right, #008cff, #9900dd) border-box;
        border-radius: 15px;
        border: 2px solid transparent;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: #008cff;
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
      
      .income_expensesBtn button:hover {
        background: linear-gradient(270deg, #9900dd 0%, #008cff 100%);
        color: #fff;
      }
      .budgetBtnContainer{
        display: flex;
        margin: 10px 0px 0px 0px;
        gap: 15px;
      }
      .budgetBtn {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        background: linear-gradient(#0e0e30, #0e0e30) padding-box,
          linear-gradient(to right, #008cff, #9900dd) border-box;
        border-radius: 15px;
        border: 2px solid transparent;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: #008cff;
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
      .budgetBtn button:hover{
        background: linear-gradient(270deg, #9900dd 0%, #008cff 100%);
        color: #fff;
      }
  
      .incomes_expensesFields {
        border: 2px solid transparent;
        background: linear-gradient(#0e0e30, #0e0e30) padding-box,
        linear-gradient(to right, #008cff, #9900dd) border-box;
      border-radius: 15px;
      border: 2px solid transparent;
      color: #ffffff;
      }
  
      .incomes_expensesFields:focus{
        color: white;
      }
      
      @media only screen and (max-width: 768px) {
        .incomes_expenses-onMobile {
          width: 100%;
        }
      }

.editHeader {
  margin: 5px auto 5px 200px;
}
option {
  color: #000;
}