body {
  margin: 0px;
  height: 100%;
  font-family: "Arimo", sans-serif;
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.loginPage {
  background: linear-gradient(180deg,
      rgba(0, 140, 255, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%),
    linear-gradient(360deg, rgba(105, 66, 239, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
    #0e0e30;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.loginForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
}

.loginInput {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, #008cff, #9900dd) border-box;
  border-radius: 15px;
  border: 2px solid transparent;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  font-size: 1.5rem;
  color: #008cff;
  padding: 0.5rem 1rem;
  margin: 10px;
  font-family: "Arimo", sans-serif;
  cursor: text;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  // text-align: center;
  transition: all 0.2s ease-in-out;
}


.loginForm button {
  width: 90%;
  &:hover {
    background: linear-gradient(270deg, #9900dd 0%, #008cff 100%);
    color: #fff;
  }
}

.signupLink {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .loginPage {
    padding: 50px;
  }
}

@media screen and (max-width: 767px) {
  .loginPage {
    padding: 0px;
  }
}